{% extends "product_layout.html" %}
{% block title1 %}
Торты
{% endblock %}
{% block title2 %}
Торты
{% endblock %}
{% block content %}
<h4>What is cake?</h4>
<p>Cake is a form of sweet food made from flour, sugar, and other ingredients, that is usually baked. In their oldest
    forms, cakes were modifications of bread, but cakes now cover a wide range of preparations that can be simple or
    elaborate, and that share features with other desserts such as pastries, meringues, custards, and pies.</p>
<p>Cake is often served as a celebratory dish on ceremonial occasions, such as weddings, anniversaries, and birthdays.
    There are countless cake recipes; some are bread-like, some are rich and elaborate, and many are centuries old. Cake
    making is no longer a complicated procedure; while at one time considerable labor went into cake making
    (particularly the whisking of egg foams), baking equipment and directions have been simplified so that even the most
    amateur of cooks may bake a cake.</p>
<h4>History</h4>
<p>The term "cake" has a long history. The word itself is of Viking origin, from the Old Norse word "kaka".</p>
<p>The ancient Greeks called cake πλακοῦς (plakous), which was derived from the word for "flat". It
    was baked using flour mixed with eggs, milk, nuts, and honey. They also had a cake called "satura", which was a flat
    heavy cake. During the Roman period, the name for cake became "placenta" which was derived from the Greek term. A
    placenta was baked on a pastry base or inside a pastry case.</p>
<p>The Greeks invented beer as a leavener, frying fritters in olive oil, and cheesecakes using goat's milk. In ancient
    Rome, the basic bread dough was sometimes enriched with butter, eggs, and honey, which produced a sweet and
    cake-like baked good.Latin poet Ovid refers to his and his brother's birthday party and cake in his first book of
    exile, Tristia. Early cakes in England were also essentially bread: the most obvious differences between a "cake"
    and "bread" were the round, flat shape of the cakes, and the cooking method, which turned cakes over once while
    cooking, while bread was left upright throughout the baking process. Sponge cakes, leavened with beaten eggs,
    originated during the Renaissance, possibly in Spain.</p>
{% endblock %}