{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<section class="bgwhite p-t-66 p-b-38">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-b-30 p-l-100">
                <h3 class="m-text26 p-t-15 p-b-16 p-l-100">
                    О нас
                </h3>

                <p class="p-b-28 p-l-100">

                    Мы уютная home-кондитерская в Самаре, изготавливаем торты, чизкейки, макарон и другие десерты на заказ.<br>
                    Мы используем только натуральные ингредиенты.<br>
                    <br>
                    С нашими макарон хорошо устроить пикник, а к тортику можно пригласить друзей.<br>
                    К чаю или шампанскому, на завтрак или ужин, поделиться с семьей или скушать самому - решать вам.<br>
                    Без повода или на праздник мы готовы приготовить вам лучший десерт.<br>
                </p>

                <h3 class="m-text26 p-t-15 p-b-16 p-l-100">
                    Контактные данные
                </h3>

                <p class="p-b-28 p-l-100">
                    Время работы: с 8:00 до 22:00 <br>
                    Телефон: +7 (927) 903-11-37 <br>
                    Адрес: Самара, 8-я просека улица Красильникова, 50А
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}