{% extends "layout.html" %}
{% block title %}
Доставка
{% endblock %}
{% block content %}
<section class="bgwhite p-t-66 p-b-38">
    <div class="container">
        <div class="row">
            <div class="col-md-4 p-b-30">
                <div class="hov-img-zoom">
                    <img src="{{ url_for('static', filename='images/banner-14.jpg')}}" alt="IMG-ABOUT">
                </div>
            </div>

            <div class="col-md-8 p-b-30">
                <h3 class="m-text26 p-t-15 p-b-16">
                    Our story
                </h3>

                <p class="p-b-28">
                    Phasellus egestas nisi nisi, lobortis ultricies risus semper nec. Vestibulum pharetra ac ante ut
                    pellentesque. Curabitur fringilla dolor quis lorem accumsan, vitae molestie urna dapibus.
                    Pellentesque porta est ac neque bibendum viverra. Vivamus lobortis magna ut interdum laoreet.
                    Donec gravida lorem elit, quis condimentum ex semper sit amet. Fusce eget ligula magna. Aliquam
                    aliquam imperdiet sodales. Ut fringilla turpis in vehicula vehicula. Pellentesque congue ac orci
                    ut gravida. Aliquam erat volutpat. Donec iaculis lectus a arcu facilisis, eu sodales lectus
                    sagittis. Etiam pellentesque, magna vel dictum rutrum, neque justo eleifend elit, vel tincidunt
                    erat arcu ut sem. Sed rutrum, turpis ut commodo efficitur, quam velit convallis ipsum, et
                    maximus enim ligula ac ligula. Vivamus tristique vulputate ultricies. Sed vitae ultrices orci.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}