{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<section class="bgwhite p-t-66 p-b-38">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-b-30 p-l-100">
                <h3 class="m-text26 p-t-15 p-b-16 p-l-100">Как заказать?</h3>
                <p class="p-b-28 p-l-100">
                    Всё просто!<br>
                    <br>
                    На этом сайте вы можете посмотреть наш ассортимент вкусов и выбрать сладкие подарки для себя или<br>
                    ваших близких.<br>
                    <br>
                    Определитесь с решением, а после напишите нам в Whatsapp/Viber или позвоните по номеру +7 (927) 903-11-37<br>
                    Не можете определиться сами? Мы всегда поможем!<br>
                </p>

                <h3 class="m-text26 p-t-15 p-b-16 p-l-100">Правила заказа</h3>

                <p class="p-b-28 p-l-100">
                    — Чем раньше вы сделаете заказ, тем выше вероятность того, что мы сможем сделать все, как вам хочется.<br>
                       Успеть за ночь испечь большой торт мы не сможем ;)<br>
                    — В стоимость торта и десертов, конечно же, входит красивая упаковка.<br>
                    — Весь декор обговаривается по телефону на этапе оформления заказа, здесь вы можете выбрать только вкус.<br>
                    — Самовывоз осуществляется по адресам 8-я просека улица Красильникова, 50А или Московское шоссе, 29.<br>
                    — Важно договориться о времени, в которое вам будет удобно забрать заказ.<br>
                </p>

                <h3 class="m-text26 p-t-15 p-b-16 p-l-100">Доставка</h3>

                <p class="p-b-28 p-l-100">
                    Мы бесплатно доставляем в черте города ваши заказы от 3500 руб.<br>
                    Стоимость доставки 100-350 руб. Итоговая сумма зависит от адреса.<br>
                    Время доставки всегда согласовывается с вами.<br>
                    <br>
                    Если вы заказываете доставку в подарок, скажите нам об этом заранее, мы поможем вам устроить сюрприз.<br>
                </p>

                <h3 class="m-text26 p-t-15 p-b-16 p-l-100">Оплата</h3>

                <p class="p-b-28 p-l-100">
                    Оплатить заказ вы всегда можете наличными или картой при получении заказа.<br>
                    Мы работаем по предоплате 50%, в случае отказа менее чем за двое суток предоплата не возвращается.<br>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}