<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.png')}}" />
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body class="animsition">

    <!-- Header -->
    <header class="header1">
        <!-- Header desktop -->
        <div class="container-menu-header">
            <div class="wrap_header">
                <!-- Logo -->
                <a href="{{ url_for('home') }}" class="logo">
                    <img src="{{ url_for('static', filename='images/icons/logo.png')}}" alt="IMG-LOGO">
                </a>

                <!-- Menu -->
                <div class="wrap_menu">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li>
                                <a href="{{ url_for('cakes') }}">Торты</a>
                            </li>
                            <li>
                                <a href="{{ url_for('cheesecakes') }}">Чизкейки</a>
                            </li>
                            <li>
                                <a href="{{ url_for('macarons') }}">Макарон</a>
                            </li>
                            <li>
                                <a href="{{ url_for('desserts') }}">Десерты</a>
                            </li>
                            <li>
                                <a href="{{ url_for('contacts') }}">Контакты</a>
                            </li>
                            <li>
                                <a href="{{ url_for('delivery') }}">Доставка</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
        <div class="t-center p-l-15 p-r-15">
            <h4 class="t-center s-text12 p-b-5">
                GET IN TOUCH
            </h4>

            <div class="t-center s-text8 p-t-5">
                Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on
                (+1)
                96 716 6879
            </div>

            <!--<div class="t-center p-t-10">
                <a href="{{ url_for('home') }}" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                <a href="{{ url_for('home') }}" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
            </div>-->

            <div class="t-center s-text8 p-t-30">
                Copyright © 2020 All rights reserved.
            </div>
        </div>
    </footer>

    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    </div>
</body>

</html>