<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.png')}}" />
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body class="animsition">
    <div id="content">
        <!-- Header -->
        <header class="header1">
            <!-- Header desktop -->
            <div class="container-menu-header">
                <div class="wrap_header">
                    <!-- Logo -->
                    <a href="{{ url_for('home') }}" class="logo">
                        <img src="{{ url_for('static', filename='images/icons/logo.png')}}" alt="IMG-LOGO">
                    </a>

                    <!-- Menu -->
                    <div class="wrap_menu">
                        <nav class="menu">
                            <ul class="main_menu">
                                <li>
                                    {% if 'Торты' == title %}
                                    <a class="menu-item-active" href="{{ url_for('cakes') }}">{{title}}</a>
                                    {% else %}
                                    <a class="menu-item" href="{{ url_for('cakes') }}">Торты</a>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if 'Чизкейки' == title %}
                                    <a class="menu-item-active" href="{{ url_for('cheesecakes') }}">{{title}}</a>
                                    {% else %}
                                    <a class="menu-item" href="{{ url_for('cheesecakes') }}">Чизкейки</a>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if 'Макарон' == title %}
                                    <a class="menu-item-active" href="{{ url_for('macarons') }}">{{title}}</a>
                                    {% else %}
                                    <a class="menu-item" href="{{ url_for('macarons') }}">Макарон</a>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if 'Десерты' == title %}
                                    <a class="menu-item-active" href="{{ url_for('desserts') }}">{{title}}</a>
                                    {% else %}
                                    <a class="menu-item" href="{{ url_for('desserts') }}">Десерты</a>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if 'Как заказать' == title %}
                                    <a class="menu-item-active" href="{{ url_for('delivery') }}">{{title}}</a>
                                    {% else %}
                                    <a class="menu-item" href="{{ url_for('delivery') }}">Как заказать</a>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if 'Контакты' == title %}
                                    <a class="menu-item-active" href="{{ url_for('contacts') }}">{{title}}</a>
                                    {% else %}
                                    <a class="menu-item" href="{{ url_for('contacts') }}">О нас</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Header Mobile -->
            <div class="wrap_header_mobile">
                <!-- Logo moblie -->
                <a href="{{ url_for('home') }}" class="logo-mobile">
                    <img src="{{ url_for('static', filename='images/icons/logo.png')}}" alt="IMG-LOGO">
                </a>

                <!-- Button show menu -->
                <div class="btn-show-menu">
                    {% if 'Toast And Honey' == title %}
                    <div class="btn-show-menu-mobile hamburger hamburger--squeeze is-active">
                        {% else %}
                        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                            {% endif %}
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Menu Mobile -->
                {% if 'Toast And Honey' == title %}
                <div class="wrap-side-menu" style="display: block;">
                {% else %}
                    <div class="wrap-side-menu">
                {% endif %}
                        <nav class="side-menu">
                            <ul class="main-menu">
                                {% if 'Торты' == title %}
                                <li class="item-menu-mobile-active">
                                    <a class="a-active" href="{{ url_for('cakes') }}">{{title}}</a>
                                </li>
                                {% else %}
                                <li class="item-menu-mobile">
                                    <a class="a-inactive" href="{{ url_for('cakes') }}">Торты</a>
                                </li>
                                {% endif %}
                                {% if 'Чизкейки' == title %}
                                <li class="item-menu-mobile-active">
                                    <a class="a-active" href="{{ url_for('cheesecakes') }}">{{title}}</a>
                                </li>
                                {% else %}
                                <li class="item-menu-mobile">
                                    <a class="a-inactive" href="{{ url_for('cheesecakes') }}">Чизкейки</a>
                                </li>
                                {% endif %}
                                {% if 'Макарон' == title %}
                                <li class="item-menu-mobile-active">
                                    <a class="a-active" href="{{ url_for('cheesecakes') }}">{{title}}</a>
                                </li>
                                {% else %}
                                <li class="item-menu-mobile">
                                    <a class="a-inactive" href="{{ url_for('macarons') }}">Макарон</a>
                                </li>
                                {% endif %}
                                {% if 'Десерты' == title %}
                                <li class="item-menu-mobile-active">
                                    <a class="a-active" href="{{ url_for('desserts') }}">{{title}}</a>
                                </li>
                                {% else %}
                                <li class="item-menu-mobile">
                                    <a class="a-inactive" href="{{ url_for('desserts') }}">Десерты</a>
                                </li>
                                {% endif %}
                                {% if 'Как заказать' == title %}
                                <li class="item-menu-mobile-active">
                                    <a class="a-active" href="{{ url_for('delivery') }}">{{title}}</a>
                                </li>
                                {% else %}
                                <li class="item-menu-mobile">
                                    <a class="a-inactive" href="{{ url_for('delivery') }}">Как заказать</a>
                                </li>
                                {% endif %}
                                {% if 'О нас' == title %}
                                <li class="item-menu-mobile-active">
                                    <a class="a-active" href="{{ url_for('contacts') }}">{{title}}</a>
                                </li>
                                {% else %}
                                <li class="item-menu-mobile">
                                    <a class="a-inactive" href="{{ url_for('contacts') }}">О нас</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
        </header>
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
        <div class="t-center p-l-15 p-r-15">
            <h4 class="t-center s-text12 p-b-5">
                Toast and Honey
            </h4>

            <div class="t-center s-text8 p-t-5">
                Возникли вопросы? Напишите нам в <a href="https://wa.me/79279031137">Whatsapp +7 (927) 903-11-37</a> или
                в <a href="https://www.instagram.com/toast.n.honey">Instagram</a>
            </div>

            <!--<div class="t-center p-t-10">
                <a href="{{ url_for('home') }}" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
                <a href="{{ url_for('home') }}" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
            </div>-->

            <div class="t-center s-text8 p-t-20">
                Copyright © 2020 All rights reserved.
            </div>
        </div>
    </footer>
    </div>

    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript">
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $("#dropDownSelect2"),
        });
    </script>

    <script type="text/javascript">
        function setPrice() {
            var x = document.getElementById("select-2").value;
            var xx = x.split(" ");
            price = xx[3];
            if (typeof price == 'undefined') {
                document.getElementById("price").innerHTML = " - ";
            } else {
                document.getElementById("price").innerHTML = price + " ₽";
            }
        }
    </script>
    </div>
</body>

</html>